body {
    font-family: 'Space Mono', monospace;
    margin: 0;
}

header {
    padding: 80px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header > img {
    width: 50%;
}